<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<ActionBar title="Example App" class="action-bar-positive">
    <NavigationButton icon="res://menu" (tap)="toggle()"></NavigationButton>
</ActionBar>

<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <StackLayout tkDrawerContent class="ionic-positive-background ionic-light">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>
        <StackLayout>
            <Label text="Primary" class="sideLabel ionic-calm-background"></Label>
            <Label text="Social" class="sideLabel"></Label>
            <Label text="Promotions" class="sideLabel"></Label>
            <Label text="Labels" class="sideLabel ionic-calm-background"></Label>
            <Label text="Important" class="sideLabel"></Label>
            <Label text="Starred" class="sideLabel"></Label>
            <Label text="Sent Mail" class="sideLabel"></Label>
            <Label text="Drafts" class="sideLabel"></Label>
        </StackLayout>
        <Label text="Close Drawer" color="lightgray" padding="10" style="horizontal-align: center" (tap)="onCloseDrawerTap()"></Label>
    </StackLayout>
    <StackLayout tkMainContent>
        <StackLayout class="page">
            <Button class="button button-energized" text="energized" (tap)="test()" rel="energized">
            </Button>
            <ListView [items]="items" class="list-group">
                <ng-template let-item="item">
                    <Label [nsRouterLink]="['/item', item.id]" [text]="item.name"
                        class="list-group-item"></Label>
                </ng-template>
            </ListView>
        </StackLayout>
    </StackLayout>
</RadSideDrawer>
